./node_modules
./build
./dist
dist
./.idea
node_modules
node_modules/.pnpm
.idea/
node_modules/.tsup
node_modules/.bin
node_modules/**/*

/coverage/lcov-report
/coverage/coverage-summary.json
/coverage/lcov.info